body{
    background-color: #ffffff;
}
.navbar {
    background-color: #32424B;
}
.titulo{
    margin-right: 1rem;
}
.button-container{
  justify-content: center;
  display: flex;
  width: 100%;
  margin: 20px auto;
  max-width: 500px;
}

  